<div class="col-lg-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Nestable custom theme list</h5>
        </div>
        <div class="ibox-content">
            <div class="dd">
                <ol class="dd-list">
                    <li class="dd-item">
                        <div class="dd-handle">
                            <span class="label label-info">
                                <i class="fa fa-users"></i>
                            </span>
                            Cras ornare tristique.
                        </div>
                        <ol class="dd-list">
                            <li class="dd-item">
                                <div class="dd-handle">
                                    <span class="pull-right"> 12:00 pm </span>
                                    <span class="label label-info">
                                        <i class="fa fa-cog"></i>
                                    </span> 
                                    Vivamus vestibulum nulla nec ante.
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

