/** Remove margin on btn under table **/
td .btn-group {
  margin-bottom: -10px;
  margin-top: -7px;
}

.student-profile {
  background-image:url('./storage/school/logo.png');
}

.form-control input {
  color: black;
}